body {
  background-color: darkmagenta;
  }
h1 {
  color:white;
  text-align: center;
  font-family: arial;
  font-size: 350%;
  margin: 80px
  }
p {
  text-align: center;
  margin: 60px;
}
#p01 {
  color: white;
  font-style: italic;
  text-align:right;
  font-size: 30px;
  font-family: Verdana;
  margin-top: 200px;
}

table, th, td {
  border: 45px solid rgb(255, 94, 0);
  border-collapse: collapse;
  text-align:center;
  }
th, td {
  padding: 80px;
  background-color: white;
  font-size: 45px;
  color: rgb(255, 94, 0);
}

