body {
  background-color: darkmagenta;
  }
h1 {
  color:white;
  text-align: center;
  font-family: arial;
  font-size: 350%;
  margin: 80px
  }
p {
  text-align: center;
  margin: 60px;
}
#p01 {
  color: white;
  font-style: italic;
  text-align:right;
  font-size: 30px;
  font-family: Verdana;
  margin-top: 200px;
}

table {
  border-collapse: collapse;
  text-align:center;
  }

.t01 th, td {
  border: 45px solid rgb(255, 94, 0);
  padding: 80px;
  background-color: white;
  font-size: 45px;
  color: rgb(255, 94, 0);
 }

.t02 {
 background-color: rgb(177, 172, 172);
 border: 120px solid rgb(177, 172, 172);
 
}

.email input {
  width: 450px;
  height: 50px;
  font-weight: bold;
  border: 2px solid;
  font-size: 20px;
  
 }

 .btn{
  width: 105px;
  height: 55px;
  font-weight: bold;
  text-align:center;
  background-color: orangered;
  border: 2px solid black;
  Color:white;
  font-size: 20px;
  font-family: Arial;
 }
